/* apply a natural box layout model to all elements, but allowing components to change */

html {
    box-sizing: border-box;
    font-size: 62.5%/*reset para REMS - 62.5% = 10px de 16px**/
}

*,
*:before,
*:after {
    box-sizing: inherit;
    /*Esto hara que si tengo un elememto de ciertos pixeles, al agregarle padding
    no aumente su tamaño.
    https://www.paulirish.com/2012/box-sizing-border-box-ftw/*/
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 1.7;
}


/*globales*/

img {
    max-width: 100%;
}

.contenedor {
    max-width: 120rem;
    /*iguala 1200 px*/
    margin: 0 auto 0 auto;
    /* arriba derecha izquierda abajo es igual a margin-left: auto margin-right:auto. tambien funciona "0 auto"*/
}


/*Estandarizamos nuestros headings*/

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}


/*Utilidades*/

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fw-400 {
    font-weight: 400;
}

.centrar-texto {
    text-align: center;
}

.d-block {
    display: block!important;
}


/**Botones**/

.boton {
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    /* El tamaño del padding se suma al del margin en el elemento o sea si mide 10 de
    margin y los padding 5 en cada lado el elemento termina midiendo 20 por la suma
    Existe un snipped para evitar que el padding afecte
    https://www.paulirish.com/2012/box-sizing-border-box-ftw/*/
    margin-top: 3rem;
    /* margin-top: 3rem;  Esto no funciona ya que se trata de un link y en CSs 
    existen elementos como este que tienen un display block y otros un display 
    un line a los que no se le puede agrgar algunas propiedades
    Los links al igual que las imagenes son display in line asi que no se les 
    puede dar un ancho para eso hay que cambiarlos a display : blok o a 
    display : inline-block*/
    display: inline-block;
    text-align: center;
}

.boton-amarillo {
    background-color: #E08709;
}

.boton-verde {
    background-color: #71B100;
}


/*header*/

.site-header.inicio {
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}

.contenido-header {
    height: 100%;
    display: flex;
    /*flexbox aplica solo al primer nivel de hijos de la etiqueta donde se uso la clase*/
    flex-direction: column;
    justify-content: space-between;
}

.contenido-header h1 {
    color: whitesmoke;
    padding-bottom: 3rem;
    max-width: 60rem;
    line-height: 2;
}

.barra {
    display: flex;
    /*para activar flexbox en este elemento*/
    justify-content: space-between;
    /* distribuye los elementos uno q la iz y otro a la der*/
    align-items: center;
    /*aninea los elementos verticalmente*/
    padding-top: 3rem;
    /*padding top sig espacio hacia adentro del elemento mientras margin es la separacion de otro elemento hacia afuera*/
}


/*Navegacion*/

.navegacion a {
    color: white;
    text-decoration: none;
    /*para remover la decoracion de un texto, en este caso el subrayado del link*/
    font-size: 1.8rem;
    /*igual a 18px*/
    margin-right: 2rem;
}

.navegacion a:last-of-type {
    /*pseudo selectores, los dos puntos deben estar pegado a la etiqueta*/
    margin: 0;
    /*para quitarle el margen derecho al ultimo elemento*/
}

.navegacion a:hover {
    /*pseudo selector hover hace que al posicionar el mouse sobre un elemento cambie su apariencia*/
    color: blueviolet;
}


/* iconos nosotros*/

.iconos-nosotros {
    display: flex;
    justify-content: space-between;
}

.icono {
    flex-basis: calc(33.3% - 2rem);
    /* Antes se usaba with, con blexbox flex-basis*/
    text-align: center;
}

.icono h3 {
    text-transform: uppercase;
}


/* Anuncios */

.contenedor-anuncios {
    display: flex;
    justify-content: space-between;
}

.anuncio {
    flex-basis: calc(33.3% - 2rem);
    border-style: solid;
    border-color: #B5B5B5;
    border-width: 1px;
    /*lo anterior es lo mismo a usar border: 1px solid #B5B5B5*/
    background-color: #F5F5F5;
}

.contenido-anuncio {
    padding: 2rem;
    /*aplica los 2rem a todos los lados*/
}

.contenido-anuncio h3,
.contenido-anuncio p {
    margin: 0;
}

.precio {
    color: green;
    font-weight: 700;
}

.iconos-caracteristicas {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.iconos-caracteristicas li {
    /*flex: 1;*/
    display: flex;
}

.iconos-caracteristicas li img {
    margin-right: 2rem;
}

.ver-todas {
    display: flex;
    justify-content: flex-end;
}


/*contacto home*/

.imagen-contacto {
    background-image: url(../img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
}

.contenido-contacto {
    flex: 1;
    color: #FFFFFF;
}

.contenido-contacto p {
    font-size: 2 rem;
}


/* SEccion inferior */

.seccion-inferior {
    display: flex;
    justify-content: space-between;
}

.seccion-inferior .blog {
    flex-basis: 60%;
}

.seccion-inferior .testimoniales {
    flex-basis: calc(40% - 2rem)
}

.entrada-blog {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.entrada-blog:last-of-type {
    margin-bottom: 2rem;
    /*para eliminar la frranja de separacion que se genera en el ultimo elemento*/
}

.entrada-blog .imagen {
    flex-basis: 40%;
}

.entrada-blog .texto-entrada {
    flex-basis: calc(60% - 3rem);
}

.texto-entrada a {
    color: black;
    text-decoration: none;
}

.texto-entrada h4 {
    margin-top: 0;
    line-height: 1.4;
}

.texto-entrada h4::after {
    /* ::after = conocidos como pseudo elementos
    le decimos que acree un elemento despues del h4
    Se llaman Speudo elementos opr que no se pueden seleccionar y no aparecen en el html
    se llaman pseudo elementospor que no existen*/
    content: '';
    display: block;
    width: 15rem;
    height: .5rem;
    background-color: #71B100;
    margin-top: 1rem;
}

.texto-entrada span {
    color: #E08709;
}


/* Testimoniales*/

.testimonial {
    background-color: #71B100;
    font-size: 2rem;
    padding: 2rem;
    color: #FFFFFF;
    border-radius: 2rem;
}

.testimoniales p {
    text-align: right;
}

.testimoniales blockquote::before {
    content: '';
    background-image: url(../img/comilla.svg);
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: -2rem;
}

.testimoniales blockquote {
    position: relative;
    padding-left: 5rem;
    font-weight: 300;
}


/** FOOTER **/

.site-footer {
    background-color: #333333;
    margin: 0;
}

.contenedor-footer {
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
}

.copyright {
    margin: 0;
    color: white;
}